{% extends 'layout.html.twig' %}
{% block title %}mes clients{% endblock %}

{% block body %}
<div class="container" id="getClient" data-getClient="{{path('client_clients')}}">
    <div class="row my-2">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="justify-content-md-start">
                <div class="card">
                    <div class="card-body d-flex justify-content-between py-2">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text border-0 px-1" id="basic-addon2"><i
                                    class="fas fa-search fa-sm" style="color: #939597;"></i></span>
                            <input type="text" style="color: #F70081;" class="form-control form-control-sm rounded"
                                id="filter-name" onkeyup="rechercheClient()" placeholder="Search" aria-label="Search"
                                aria-describedby="basic-addon2" />
                        </div>
                        <p class="mb-0 d-flex flex-row align-self-center" style="color: #939597;"><span
                                class="font-weight-bold pe-1" style="color: #F70081;" id="total_client">{{total}}
                            </span>Clients</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex justify-content-end">
                <div class="dropdown mx-2">
                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-file-invoice mx-2"></i> Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" id="supprimerClient" data-path="{{path('supprimer_client')}}"
                                href="javascript::void(0)">Supprimer</a></li>
                        <li><a class="dropdown-item" id="editClientBtn" data-path="{{url('client_edit')}}"
                                href="#">Modifier</a>
                        </li>
                    </ul>
                </div>
                <button class="btn me-md-2 btn-sm" data-mdb-toggle="modal" data-mdb-target="#modal-client"
                    style="background-color: black; color: white; opacity: 0.7;"><i
                        class="fas fa-user-plus mx-2"></i>Nouveau
                    Client</button>
            </div>
        </div>
    </div>
    <div class="ligne" style="background-color: #F70081; height: 2px; width: 100%;"></div>
    <div class="row mt-2">
        <div id="message">
        </div>
        <div class="card">
            <div class="row">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-striped" id="my-table-id">
                            <thead>
                                <tr>
                                    <th scope="col"><input id="checkAllClient" type="checkbox"></th>
                                    <th>Réf.</th>
                                    <th>Client</th>
                                    <th width="170px;">Tèl</th>
                                    <th width="170px;">Fixe</th>
                                    <th width="">Condition de paiement</th>
                                    <th>{{ 'Email'|trans }}</th>
                                    <th>Adresse de facturation</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_cli">
                                {% for client in clients %}
                                <tr id="cid{{client.id}}">
                                    <td><input type="checkbox" name="ids" value="{{client.id}}" class="checkclient">
                                    </td>
                                    <td>{{ client.ref}}</td>
                                    <td>{{ client.nomClient}}</td>
                                    <td>{{client.tel}}</td>
                                    <td>{{client.fixe}}</td>
                                    <td>{{client.coditionDePaiement}}</td>
                                    <td>{{client.email}}</td>
                                    <td>{{client.adresseFactureClient}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(clients) }}
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- Modal editClient -->
    <div class="modal fade" id="editClient" tabindex="-1" aria-labelledby="editClientlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClientlabel">
                        <h5 class="text-center">Nouveau Client</h5>
                    </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-client">
                        <div class="d-flex">
                            <h5 class="p-2">Nature du client</h5>
                            <div class="p-2"><select id="type_client" class="form-select form-select-sm">
                                    <option value="0">Particulier</option>
                                    <option value="1">Professionnel</option>
                                </select>
                            </div>
                        </div>
                        <div id="particuliere">
                            <div class="form-row">
                                <label class="form-label" for="prenom">Prénom</label>
                                <input type="text" id="prenomE" class="form-control-sm form-control" />
                            </div>
                            <div class="form-row">
                                <label class="form-label" for="nom">Nom</label>
                                <input type="text" id="nomE" class="form-control-sm form-control" />

                            </div>
                        </div>
                        <div id="entreprise" hidden>
                            <div class="form-row">
                                <label class="form-label" for="nomSociete">Nom de l'entreprise</label>
                                <input type="text" id="nomSocieteE" class="form-control-sm form-control" />
                            </div>
                            <div class="form-row">
                                <label class="form-label" for="titreSciete">Titre de l'entreprise</label>
                                <input type="text" id="titreSocieteE" name="titreSociete"
                                    class="form-control-sm form-control" />

                            </div>
                            <div class="form-row">
                                <label class="form-label" for="numSerie">Numéro de Série</label>
                                <input type="text" id="numSerieE" name="numSerie"
                                    class="form-control-sm form-control" />

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <label class="form-label" for="portable1">Portable 1</label>
                                    <input type="text" id="portable1E" name="portable1"
                                        class="form-control-sm form-control" spellcheck="false"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <label class="form-label" for="portable2">Portable 2</label>
                                    <input type="text" id="portable2E" name="portable2"
                                        class="form-control-sm form-control" spellcheck="false"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="fixe">Fixe</label>
                            <input type="text" id="fixeE" minlength="10" name="fixeE"
                                class="form-control-sm form-control" spellcheck="false"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

                        </div>
                        <div class="form-row">
                            <label class="form-label" for="email">E-mail</label>
                            <input type="text" id="emailE" name="email" class="form-control-sm form-control" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <label class="form-label" for="numRue">Numéro Rue</label>
                                    <input type="text" id="numRueE" name="numRue"
                                        class="form-control-sm form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <label class="form-label" for="nomRue">Nom rue</label>
                                    <input type="text" id="nomRueE" name="nomRue"
                                        class="form-control-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <label class="form-label" for="codePostal">Code Postal</label>
                                    <input type="text" id="codePostalE" name="codePostal"
                                        class="form-control-sm form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <label class="form-label" for="ville">Ville</label>
                                    <input type="text" id="villeE" name="ville" class="form-control-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="pays">Pays</label>
                            <input type="text" id="paysE" name="pays" class="form-control-sm form-control" />
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="adresse">Adresse de facturation</label>
                            <input type="text" id="adresseE" name="andresse" class="form-control form-control-sm" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="condition">Condition de paiement</label>
                            <select class="form-control-sm form-control" name="condition" id="conditionE">
                                <option value="1">Autre</option>
                                <option value="15">15 Jours</option>
                                <option value="30">30 Jours</option>
                                <option value="45">45 Jours</option>
                                <option value="60">60 Jours</option>
                            </select>
                        </div>
                        <input type="hidden" id="idClient">
                        <!-- Submit button -->
                        <button type="button" id="btn-clientEdit" data-path="{{path('client_editAction')}}"
                            onclick="editActionClient()"
                            class="btn btn-primary mt-2 btn-block mb-4">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ajout client-->
<div class="modal fade" id="modal-client" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <h5 class="text-center">Nouveau Client</h5>
                </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex">
                        <h5 class="p-2">Nature du client</h5>
                        <div class="p-2"><select id="client-type" class="form-select form-select-sm">
                                <option value="0">Particuliaire</option>
                                <option value="1">Profesionnel</option>
                            </select>
                        </div>
                    </div>
                    <div id="client-">
                        <div class="form-outline mb-2">
                            <input type="text" id="prenom" class="form-control" />
                            <label class="form-label" for="prenom">Prénom</label>
                        </div>
                        <div class="form-outline mb-2">
                            <input type="text" id="nom" class="form-control" />
                            <label class="form-label" for="nom">Nom</label>
                        </div>
                    </div>
                    <div id="societe" hidden>
                        <div class="form-outline mb-2">
                            <input type="text" id="nomSociete" class="form-control" />
                            <label class="form-label" for="nomSociete">Nom de l'entreprise</label>
                        </div>
                        <div class="form-outline mb-2">
                            <input type="text" id="titreSociete" class="form-control" />
                            <label class="form-label" for="titreSciete">Titre de l'entreprise</label>
                        </div>
                        <div class="form-outline mb-2">
                            <input type="text" id="numSerie" class="form-control" />
                            <label class="form-label" for="numSerie">{{ 'Serial number'|trans }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-outline mb-2">
                                <input type="text" id="portable1" name="portable1" spellcheck="false"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    class="form-control" />
                                <label class="form-label" for="portable1">{{ 'Phone 1'|trans }}</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-outline mb-2">
                                <input type="text" id="portable2" name="portable2" spellcheck="false"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    class="form-control" />
                                <label class="form-label" for="portable2">{{ 'Phone 2'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-2">
                        <input type="text" id="fixe" spellcheck="false"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            class="form-control" />
                        <label class="form-label" for="fixe">Fixe</label>
                    </div>
                    <div class="form-outline mb-2">
                        <input type="text" id="email" class="form-control" />
                        <label class="form-label" for="email">{{ 'Email'|trans }}</label>
                    </div>
                    <small id="message_email"></small>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-outline mb-2">
                                <input type="text" id="numRue" name="numRue" class="form-control" spellcheck="false"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                <label class="form-label" for="numRue">Numéro Rue</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-outline mb-2">
                                <input type="text" id="nomRue" name="nomRue" class="form-control" />
                                <label class="form-label" for="nomRue">Nom rue</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-outline mb-2">
                                <input type="text" id="codePostal" name="codePostal" spellcheck="false"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    class="form-control" />
                                <label class="form-label" for="codePostal">Code Postal</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-outline mb-2">
                                <input type="text" id="ville" name="ville" class="form-control" />
                                <label class="form-label" for="ville">Ville</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-2">
                        <input type="text" id="pays" name="pays" class="form-control" />
                        <label class="form-label" for="pays">Pays</label>
                    </div>
                    <div class="form-outline mb-2">

                        <input type="text" id="adresse" name="andresse" class="form-control" />
                        <label class="form-label" for="adresse">Adresse de facturation</label>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="condition">Condition de paiement</label>
                        <select class="form-control" name="condition" id="condition">
                            <option value="15">15 Jours</option>
                            <option value="30">30 Jours</option>
                            <option value="45">45 Jours</option>
                            <option value="60">60 Jours</option>
                        </select>
                    </div>
                    <!-- Submit button -->
                    <button type="button" id="btn-ajoutClient" data-path="{{path('ajoutClient')}}"
                        onclick="ajoutClient()" class="btn btn-primary mt-2 btn-block mb-4">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}